name: Android Build

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: 记帐鸭/WasteBook-master
      
      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace
        working-directory: 记帐鸭/WasteBook-master
        
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: WasteBook-Debug
          path: 记帐鸭/WasteBook-master/app/build/outputs/apk/debug/*.apk
